# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data Sourse Files
datasets/data/

# Results
results

# other materials
materials/
case_test/


# bash Files
*.bash